<div class="container">
    <form method="get" action="" >
  <div class="form-group">
    <label for="search-input">Nhập từ khóa</label> 
    <input name="Ten" type="text" class="search-input" id="search-input" aria-describedby="emailHelp">
    <input name="Tuoi" type="text" class="search-input" id="search-input" aria-describedby="emailHelp">
  <div>
      <input name="req" type="text" class="search-input" id="search-input" aria-describedby="emailHelp">
  </div>
  </div>

  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>